:root {
  --colour-white: #ffffff;
  --colour-off-white: #f5f5f5;

  --colour-black: #252422;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-small: 1rem; /* 16px */
  --font-size: 1.25rem; /* 20px */
  --font-size-medium: 1.4rem; /* 22px */
  --font-size-large: 2.1rem; /* 34px */
  --font-size-xlarge: 2.8rem; /* 44px */

  --spacing-xsmall: 4px; /* 4px */
  --spacing-small: 8px; /* 8px */
  --spacing-main: 16px; /* 16px */
  --spacing-large: 24px; /* 24px */
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: var(--colour-black);
  background-color: var(--colour-off-white);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  /* margin: 1rem auto; */
  padding: 0 2rem;
  max-width: 640px;
}

@media screen and (min-width: 680px) {
  body {
    margin: 2rem auto;
  }
}

a {
  color: #545e31;
}

a:hover {
  color: #788646;
}

.header-logo {
  width: 12rem;
  padding-bottom: 12rem;
  position: relative;
  margin: 0 auto 2rem;
}

.header-logo__img {
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
}

nav {
  margin-bottom: 2rem;
}

.navigation {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

@media screen and (min-width: 680px) {
  .navigation {
    flex-direction: row;
    gap: 0.75rem;
  }

  .navigation-main {
    justify-content: space-between;
  }
}

.button,
.navigation-main__link {
  color: var(--colour-off-white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--colour-black);
  border: 2px solid transparent;
  font-weight: var(--font-weight-bold);
}

.button:hover,
.navigation-main__link:hover {
  color: var(--colour-black);
  background-color: var(--colour-white);
  border-color: var(--colour-black);
}

.navigation-main__link--active,
.navigation-main__link--active:hover {
  background-color: #545e31;
  border-color: transparent;
  color: var(--colour-off-white);
}

.button {
  display: inline-block;
}

.navigation-main__link {
  display: block;
}

.page-title {
  font-size: 1.6rem;
}

.expanded-background {
  margin-left: -2rem;
  margin-right: -2rem;
  background-color: var(--colour-white);
  padding: 0.5rem 2rem 1rem;
}

dt {
  font-weight: var(--font-weight-bold);
}

section {
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
}

h3 {
  margin-top: 2rem;
  font-weight: var(--font-weight-bold);
}

/* ------- Card ------- */

.card-list {
  display: grid;
  gap: 1rem;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (min-width: 680px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-white);
}

.card__image {
  display: block;
  width: 100%;
}

.card__description {
  padding: 1rem;
  font-size: 1rem;
}

.card__description p:last-child {
  margin-bottom: 0;
}

.card__title {
  margin-top: 0;
  font-size: inherit;
}

/* -------------- Tables -------------- */

caption {
  text-align: left;
  font-weight: var(--font-weight-bold);
}

th {
  font-weight: var(--font-weight-bold);
}

td:not(:empty),
th:not(:empty) {
  text-align: start;
  vertical-align: top;
  padding: var(--spacing-small) var(--spacing-main);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table thead {
  background-color: var(--colour-black);
  color: var(--colour-white);
}

/* tbody tr:nth-child(odd) {
  background: var(--colour-grey);
} */

tbody tr:nth-child(even) {
  background: var(--colour-white);
}

tbody tr:nth-child(odd) {
  background: var(--colour-off-white);
}

@media screen and (max-width: 739px) {
  table tr {
    display: grid;
  }

  table td {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
    margin-bottom: 0;
  }

  table td:first-child {
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
  }

  table thead {
    display: none;
  }

  .schedule-table td:empty {
    display: none;
  }

  .schedule-table td:first-child {
    color: var(--colour-white);
    background-color: var(--colour-black);
  }
}

/* ------- Event page ------- */

.featured-image-wrap,
.featured-image {
  width: 100%;
}
